<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>若态文化</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/swiper-3.4.1.min.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/common.css">
</head>
<body>
    <div class="page_header nav navbar-fixed-top">
    	<div class="container-fluid page_top">
    		<div class="col-lg-3 col-lg-offset-9 col-xs-12 top_wraper">
    			<div class="top_help">
    				<a href=""><span>?</span><span>帮助</span></a>
    			</div>
    			<div class="top_video">
    				<a href=""><span class="glyphicon glyphicon-play"></span><span>视频</span></a>
    			</div>
    			<div class="top_toggle_language">
    				<a href="">EN </a> / <a href=""> 中文</a>
    			</div>
    		</div>
    	</div>
    	<div id="nav_link" class="navbar navbar-default sticky-navigation" role="navigation">
	        <div class="container">
	            <div class="navbar-header">
	                <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	                    <span class="icon icon-bar"></span>
	                    <span class="icon icon-bar"></span>
	                    <span class="icon icon-bar"></span>
	                </button>
	                <a href="/index" class="navbar-brand"><img src="/static/images/homepage/logo.png"/></a>
	            </div>
	            <div class="collapse navbar-collapse">
	                <ul class="nav navbar-nav navbar-right main-navigation">
	                    <li class="xs_to">
	                    	<a href="#" class="">关于若态</a>
	                    	<div class="about_company">
				        		<div><a href="">若态历程</a></div>
				        		<div><a href="">品质保证</a></div>
				        		<div><a href="/DesignTeam">设计团队</a></div>
				        		<div><a href="">工厂形象</a></div>
				        	</div>
	                    </li>
	                    <li class="xs_to">
	                    	<a href="" class="">品牌产品</a>
	                    	<div class="brands_comany">
				        		<div><a href="">Rokr若客</a></div>
				        		<div><a href="">Rolife若来</a></div>
				        		<div><a href="">Robud若小贝</a></div>
				        	</div>
	                    </li>
	                    <li class="xs_to">
	                    	<a href="" class="">服务支持</a>
	                    	<div class="server_company">
				        		<div><a href="">合作案例</a></div>
				        		<div><a href="/ImageSupport">形象支持</a></div>
				        		<div><a href="">售后服务</a></div>
				        	</div>
	                    </li>
	                    <li class="xs_to">
	                    	<a href="" class="">新闻动态</a>
	                    	<div class="news_company">
				        		<div><a href="">新品动态</a></div>
				        		<div><a href="">展会资讯</a></div>
				        	</div>
	                    </li>
	                    <li class="xs_to">
	                    	<a href="" class="">联系我们</a>
	                    	<div class="contact_company">
				        		<div><a href="">招商合作</a></div>
				        		<div><a href="">联系我们</a></div>
				        		<div><a href="">工作机会</a></div>
				        	</div>
	                    </li>
	                    {% for i in products %}
							<li class="xs_to"><img src='{{i.image.url}}'/></li>
						{% endfor %}
	                </ul>
	            </div>
	        </div>
	        <div class="down_menu_wraper">
	        	
	        </div>
	    </div>
    </div>
    
    <div class="DT_wraper">
    	<div class="container">
    		<div class="col-xs-12 col-md-10 col-md-offset-1">
    			<div class="design_wraper">
    				<div class="design_img_wraper">
    					<img src="../static/images/designteam/design1.jpg"/>
    				</div>
    				<div class="team_name"><div>结构设计团队</div></div>
    				<div class="">
    					<div class="dec_circle"><span></span><span></span><span></span></div>
    				</div>
    				<div class="">
    					<div class="DT_words">他们是操纵结构的幕后人<span>他们是最懂得材料性格的灵魂建造师</span>他们在点线面与力的关系中，创造神奇</div>
    				</div>
    			</div>
    			<div class="design_wraper">
    				<div class="team_name team_name_2"><div>工业造型设计团队</div></div>
    				<div class="design_img_wraper">
    					<img src="../static/images/designteam/design2.jpg"/>
    				</div>
    				<div class="">
    					<div class="dec_circle"><span></span><span></span><span></span></div>
    				</div>
    				<div class="">
    					<div class="DT_words">他们是将美学运用到实际中的生活家<span>他们是理性与感性并肩的双面伊人</span>他们为无趣的俗物，注入艺术般的美好</div>
    				</div>
    			</div>
    			<div class="design_wraper">
    				<div class="team_name team_name_2"><div>插画设计团队</div></div>
    				<div class="design_img_wraper">
    					<img src="../static/images/designteam/design3.jpg"/>
    				</div>
    				<div class="">
    					<div class="dec_circle"><span></span><span></span><span></span></div>
    				</div>
    				<div class="">
    					<div class="DT_words">他们是勾勒温情生活的画师<span>他们是描绘美丽梦境的天使</span>他们以画作温暖人心、启迪心智</div>
    				</div>
    			</div>
    			<div class="design_wraper">
    				<div class="team_name team_name_2"><div>平面设计团队</div></div>
    				<div class="design_img_wraper">
    					<img src="../static/images/designteam/design4.jpg"/>
    				</div>
    				<div class="">
    					<div class="dec_circle"><span></span><span></span><span></span></div>
    				</div>
    				<div class="">
    					<div class="DT_words">他们是最擅长捕捉创意的聪明人<span>他们是将一切琐碎有机整合的高手</span>他们以形式美和神创作，勾勒生活</div>
    				</div>
    			</div>
    			
    			<div class="design_factory">
    				<div class="team_name team_name_3"><div>工厂形象</div></div>
    				<div class="design_img_wraper">
    					<img src="../static/images/designteam/factory.jpg"/>
    				</div>
    			</div>
    		</div>
    	</div>
    </div>
    
    
    
    <div class="page_footer">
    	<div class="container-fluid">
    		<div class="brands col-md-4 col-md-offset-3 col-xs-12">
    			<ul class="col-md-2" style="margin-left: 50px;">
	    			<li><a href="">若态</a></li>
	    			<li><a href="">若态历程</a></li>
	    			<li><a href="">品质保证</a></li>
	    			<li><a href="">设计团队</a></li>
	    			<li><a href="">工厂形象</a></li>
	    			<li><a href="">联系我们</a></li>
    			</ul>
    			<ul class="col-md-2">
	    			<li><a href="">若来</a></li>
	    			<li><a href="">DIY艺术屋</a></li>
	    			<li><a href="">八音狂想</a></li>
	    			<li><a href="">萌物志</a></li>
	    			<li><a href="">世界风情</a></li>
	    			<li><a href="">心语盒子</a></li>
	    			<li><a href="">遇见拼图</a></li>
	    			<li><a href="">盆之物语</a></li>
	    			<li><a href="">心语夜灯</a></li>
    			</ul>
    			<ul class="col-md-2">
	    			<li><a href="">若客</a></li>
	    			<li><a href="">齿轮之械</a></li>
	    			<li><a href="">电动恐龙</a></li>
	    			<li><a href="">迷你电动恐龙</a></li>
	    			<li><a href="">太阳能飞机</a></li>
	    			<li><a href="">太阳能风车</a></li>
    			</ul>
    			<ul class="col-md-2">
	    			<li><a href="">若小贝</a></li>
	    			<li><a href="">奇妙世界</a></li>
	    			<li><a href="">卡通时钟</a></li>
	    			<li><a href="">神奇的声音</a></li>
	    			<li><a href="">童真幻想</a></li>
	    			<li><a href="">童话王国</a></li>
	    			<li><a href="">异想天开</a></li>
	    			<li><a href="">飓风工程车</a></li>
	    			<li><a href="">梦幻别墅</a></li>
	    			<li><a href="">梦幻娃娃屋</a></li>
    			</ul>
    			<ul class="col-md-2"> 
	    			<li><a href="">若物</a></li>
	    			<li><a href="">拼百乐</a></li>
	    			<li><a href="">迷你建筑</a></li>
	    			<li><a href="">木制枪模</a></li>
	    			<li><a href="">世纪战船</a></li>
	    			<li><a href="">世界建筑</a></li>
    			</ul>
    		</div>
    		<div class="contact col-md-5">
    			<ul class="hasicon">
    				<li>联系我们</li>
    				<li>中国江苏省苏州工业园区<br />星汉街5号C幢三楼305室</li>
    				<li>Tifa.zhou@robotime.com</li>
    				<li>0086-512-62621631</li>
    			</ul>
    			<ul>
    				<li>帮助</li>
    				<li><a href="">要求清单</a></li>
    				<li><a href="">分销合作</a></li>
    				<li><a href="">工作机会</a></li>
    			</ul>
    		</div>
    	</div>
    	<div class="container-fluid copyright_wraper">
    		<div class="col-md-2 col-md-offset-1">
    			<a href=""><img src="../static/images/homepage/logo_bottom.png"/></a>
    		</div>
    		<div class="col-md-4">
    			<span>Copyright 2008-2017 © Robotime. All Right Reserved</span>
    		</div>
    	</div>
    </div>
  
    
</body>
<script src="/static/js/jquery-3.0.0.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/swiper-3.4.1.jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/bootstrap/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/common.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
	
</script>
</html>