<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>若态文化</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/swiper-3.4.1.min.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/common.css">
</head>
<body>
    <div class="page_header nav navbar-fixed-top">
    	<div class="container-fluid page_top">
    		<div class="col-lg-3 col-lg-offset-9 col-xs-12 top_wraper">
    			<div class="top_help">
    				<a href=""><span>?</span><span>帮助</span></a>
    			</div>
    			<div class="top_video">
    				<a href=""><span class="glyphicon glyphicon-play"></span><span>视频</span></a>
    			</div>
    			<div class="top_toggle_language">
    				<a href="">EN </a> / <a href=""> 中文</a>
    			</div>
    		</div>
    	</div>
    	<div id="nav_link" class="navbar navbar-default sticky-navigation" role="navigation">
	        <div class="container">
	            <div class="navbar-header">
	                <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	                    <span class="icon icon-bar"></span>
	                    <span class="icon icon-bar"></span>
	                    <span class="icon icon-bar"></span>
	                </button>
	                <a href="/index" class="navbar-brand"><img src="/static/images/homepage/logo.png"/></a>
	            </div>
	            <div class="collapse navbar-collapse">
	                <ul class="nav navbar-nav navbar-right main-navigation">
	                    <li class="xs_to">
	                    	<a href="#" class="">关于若态</a>
	                    	<div class="about_company">
				        		<div><a href="">若态历程</a></div>
				        		<div><a href="">品质保证</a></div>
				        		<div><a href="/DesignTeam">设计团队</a></div>
				        		<div><a href="">工厂形象</a></div>
				        	</div>
	                    </li>
	                    <li class="xs_to">
	                    	<a href="" class="">品牌产品</a>
	                    	<div class="brands_comany">
				        		<div><a href="">Rokr若客</a></div>
				        		<div><a href="">Rolife若来</a></div>
				        		<div><a href="">Robud若小贝</a></div>
				        	</div>
	                    </li>
	                    <li class="xs_to">
	                    	<a href="" class="">服务支持</a>
	                    	<div class="server_company">
				        		<div><a href="">合作案例</a></div>
				        		<div><a href="/ImageSupport">形象支持</a></div>
				        		<div><a href="">售后服务</a></div>
				        	</div>
	                    </li>
	                    <li class="xs_to">
	                    	<a href="" class="">新闻动态</a>
	                    	<div class="news_company">
				        		<div><a href="">新品动态</a></div>
				        		<div><a href="">展会资讯</a></div>
				        	</div>
	                    </li>
	                    <li class="xs_to">
	                    	<a href="" class="">联系我们</a>
	                    	<div class="contact_company">
				        		<div><a href="">招商合作</a></div>
				        		<div><a href="">联系我们</a></div>
				        		<div><a href="">工作机会</a></div>
				        	</div>
	                    </li>
	                </ul>
	            </div>
	        </div>
	        <div class="down_menu_wraper">
	        	
	        </div>
	    </div>
    </div>
    
    <div class="IS_lunbo">
    	<div class="container">
    		<div class="col-xs-12 col-md-10 col-md-offset-1">
    			<div class="swiper-container">
	    			<div class="swiper-wrapper">
	    				<div class="swiper-slide">
	    					<img src="/static/images/imagesupport/lunbo1.png"/>
	    				</div>
	    				<div class="swiper-slide">
	    					<img src="/static/images/imagesupport/lunbo1.png"/>
	    				</div>
	    			</div>
	    			<div class="swiper-pagination"></div>
	    		</div>
    		</div>
    	</div>
    </div>
    <div>形象支持</div>
    
    <div class="IS_stores">
    	<div class="container">
    		<div class="col-xs-12 col-md-10 col-md-offset-1">
    			<div class="stores_wraper col-md-4"><a href=""><img src="../static/images/imagesupport/stores1.jpg"/></a></div>
    			<div class="stores_wraper col-md-4"><a href=""><img src="../static/images/imagesupport/stores2.jpg"/></a></div>
    			<div class="stores_wraper col-md-4"><a href=""><img src="../static/images/imagesupport/stores3.jpg"/></a></div>
    			<div class="stores_wraper col-md-4"><a href=""><img src="../static/images/imagesupport/stores4.jpg"/></a></div>
    			<div class="stores_wraper col-md-4"><a href=""><img src="../static/images/imagesupport/stores5.jpg"/></a></div>
    			<div class="stores_wraper col-md-4"><a href=""><img src="../static/images/imagesupport/stores6.jpg"/></a></div>
    		</div>
    		<p class="col-md-8 col-md-offset-2">我们为不同渠道的客户提供丰富的展示、设计支持。将若态的原创设计充分的应用到客户的需要中去，拒绝平庸，创造更好。</p>
    	</div>
    </div>
    <div>合作品牌</div>
    
    <div class="IS_brands">
    	<div class="container">
    		<div class="col-xs-12 col-md-10 col-md-offset-1">
    			<img src="../static/images/imagesupport/brands.png"/>
    		</div>
    	</div>
    </div>
    <div>售后服务</div>
    
    <div class="IS_aftersale">
    	<div class="container">
    		<div class="col-xs-12 col-md-10 col-md-offset-1">
    			<div class="col-md-6">
    				<p>一、如何联系到我们的的售后服务？</p>
    				<div>
    					答：1.添加若态微信号<span>【若态DIY生活家】</span>，点击菜单栏&lt;售后服务&gt;中的“在线客服”直接咨询；
    				</div>
    				<div>
    					2.阳光服务热线：400-710-8099
    				</div>
    				<div>
    					（建议优先选择添加<span>【若态DIY生活家】</span>，直接咨询“在线客服”的方式处理。在线沟通更及时、方便，可以发送图片，图文并茂的将诉求信息表达的清楚易懂，这样我们可以更加快速的帮您解决问题）
    				</div>
    				<p>二、拼图补缺卡说明</p>
    				<div><span>1.在什么情况下可以缺片补发？</span></div>
    				<div>答：a.拼装过程中，不慎损坏或丢失拼片;</div>
    				<div>b.我们提供终身缺片补发服务。（产品停产等特殊情况下无法提供补差服务）</div>
    				<div><span>2.如何将缺失的拼片告知售后服务？</span></div>
    				<div>答：a.将拼片所对应的产品型号以及零件编号告诉我你们，并附上一张已损坏的拼片照片，我们将在第一时间帮你解决问题；</div>
    				<div>b.拼片与产品拼装大图一同丢失，无法提供照片拼片的情况，可对准缺片所在拼图位置拍照（照片要求：整体图以及局部细节图各一张，以便找到对应的缺失区域）发送给我们的售后客户。我们将根据图片指示的缺失位置，为您找到所缺失的拼片。</div>
    			</div>
    			<div class="col-md-6">
    				<p>三、拼片补发费用和运费如何支付？</p>
    				<div>
    					答：1.我们提供免费补缺服务；
    				</div>
    				<div>2.顾客需支付补缺片寄送的邮费；（如您提供的缺片编号信息和拍照信息不明确而导致补片错误，重复补片的费用我们不予承担。）</div>
    				<p>四、邮费支付方式？</p>
    				<div>1.通过支付宝转账付款</div>
    				<div>2.通过淘宝链接支付。</div>
    				<p>五、邮费收费标准？</p>
    				<div>依据实际发货快递的实时收费标准而定。</div>
    			</div>
    		</div>
    	</div>
    </div>
    
    
    <div class="page_footer">
    	<div class="container-fluid">
    		<div class="brands col-md-4 col-md-offset-3 col-xs-12">
    			<ul class="col-md-2" style="margin-left: 50px;">
	    			<li><a href="">若态</a></li>
	    			<li><a href="">若态历程</a></li>
	    			<li><a href="">品质保证</a></li>
	    			<li><a href="">设计团队</a></li>
	    			<li><a href="">工厂形象</a></li>
	    			<li><a href="">联系我们</a></li>
    			</ul>
    			<ul class="col-md-2">
	    			<li><a href="">若来</a></li>
	    			<li><a href="">DIY艺术屋</a></li>
	    			<li><a href="">八音狂想</a></li>
	    			<li><a href="">萌物志</a></li>
	    			<li><a href="">世界风情</a></li>
	    			<li><a href="">心语盒子</a></li>
	    			<li><a href="">遇见拼图</a></li>
	    			<li><a href="">盆之物语</a></li>
	    			<li><a href="">心语夜灯</a></li>
    			</ul>
    			<ul class="col-md-2">
	    			<li><a href="">若客</a></li>
	    			<li><a href="">齿轮之械</a></li>
	    			<li><a href="">电动恐龙</a></li>
	    			<li><a href="">迷你电动恐龙</a></li>
	    			<li><a href="">太阳能飞机</a></li>
	    			<li><a href="">太阳能风车</a></li>
    			</ul>
    			<ul class="col-md-2">
	    			<li><a href="">若小贝</a></li>
	    			<li><a href="">奇妙世界</a></li>
	    			<li><a href="">卡通时钟</a></li>
	    			<li><a href="">神奇的声音</a></li>
	    			<li><a href="">童真幻想</a></li>
	    			<li><a href="">童话王国</a></li>
	    			<li><a href="">异想天开</a></li>
	    			<li><a href="">飓风工程车</a></li>
	    			<li><a href="">梦幻别墅</a></li>
	    			<li><a href="">梦幻娃娃屋</a></li>
    			</ul>
    			<ul class="col-md-2"> 
	    			<li><a href="">若物</a></li>
	    			<li><a href="">拼百乐</a></li>
	    			<li><a href="">迷你建筑</a></li>
	    			<li><a href="">木制枪模</a></li>
	    			<li><a href="">世纪战船</a></li>
	    			<li><a href="">世界建筑</a></li>
    			</ul>
    		</div>
    		<div class="contact col-md-5">
    			<ul class="hasicon">
    				<li>联系我们</li>
    				<li>中国江苏省苏州工业园区<br />星汉街5号C幢三楼305室</li>
    				<li>Tifa.zhou@robotime.com</li>
    				<li>0086-512-62621631</li>
    			</ul>
    			<ul>
    				<li>帮助</li>
    				<li><a href="">要求清单</a></li>
    				<li><a href="">分销合作</a></li>
    				<li><a href="">工作机会</a></li>
    			</ul>
    		</div>
    	</div>
    	<div class="container-fluid copyright_wraper">
    		<div class="col-md-2 col-md-offset-1">
    			<a href=""><img src="../static/images/homepage/logo_bottom.png"/></a>
    		</div>
    		<div class="col-md-4">
    			<span>Copyright 2008-2017 © Robotime. All Right Reserved</span>
    		</div>
    	</div>
    </div>
  
    
</body>
<script src="/static/js/jquery-3.0.0.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/swiper-3.4.1.jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/bootstrap/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/common.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
	var mySwiper = new Swiper('.swiper-container',{
		autoplay:1500,
		autoplayDisableOnInteraction : false,
		loop:true,
		pagination: '.swiper-pagination',
		paginationClickable :true,
		nextButton: '.swiper-button-next',
	    prevButton: '.swiper-button-prev',
	})

</script>
</html>